@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

#postal{
    float: left;
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    width: 80%;
    padding: 10px;
    margin-left: 50%;
    margin-top: 100px;
    transform: translate(-50%);
    border: 1px solid black;
    background-image: url('../img/imagen.jpg');
    background-size: cover;
    font-family: 'Open Sans';
}

#left-img{
    position: relative;
    float: left;
    width: 50%;
}

#left-img img{
    position: relative;
    float: left;
    width:  400px;
    margin-top: 25%;
    margin-left: 5px;
    margin-right: 10px;
    transform: translate(0, -25%);
    border-radius: 20px;
}

#left-img hr{
    float: left;
    position: relative;
    margin-top: 15px;
    height: 325px;
    border: 1px solid;
}

#right-content{
    position: relative;
    float: left;
    width: 50%;
}

#right-content p{
    margin-top: 10px;
    font-size: 20px;
}

#right-content p::first-letter{
    text-transform: uppercase;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    float: left;
    width: 100%;
}

#footer-left{
    float: left;
    width: 40%;
    text-align: left;
}

#footer-left p{
    padding-left: 10px;
}

#footer-right{
    float: left;
    width: 60%;
    text-align: right;
}