*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

body{
    background-color: #fae9ce;
}

b{
    color: rgb(106, 106, 255);
}

h1{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(106, 106, 255);
    font-family: 'Courier New', Courier, monospace;
}

#postal{
    position: relative;
    float: left;
    width: 80%;
    padding: 10px;
    margin-left: 50%;
    margin-top: 100px;
    transform: translate(-50%);
    color: rgb(117, 162, 247);
    border: 5px solid rgb(247, 117, 117);
    border-radius: 25px;
    background-color: white;
    font-family: sans-serif;
}

#left-img{
    position: relative;
    float: left;
    width: 40%;
}

#left-img img{
    position: relative;
    float: left;
    width:  400px;
    margin-top: 25%;
    margin-left: 5px;
    margin-right: 10px;
    transform: translate(0, -25%);
    border: 2px solid rgb(117, 162, 247);;
    border-radius: 20px;
}

#left-img hr{
    float: left;
    color: rgb(117, 162, 247);
    position: relative;
    margin-top: 15px;
    height: 325px;
    border: 1px solid;
}

#right-content{
    position: relative;
    float: left;
    width: 60%;
}

#right-content p{
    margin-top: 10px;
}

#right-content p::first-letter{
    color: rgb(104, 104, 250);
    text-transform: uppercase;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    float: left;
    width: 100%;
}

#footer-left{
    float: left;
    width: 40%;
    text-align: left;
}

#footer-left p{
    padding-left: 10px;
}

#footer-right{
    float: left;
    width: 60%;
    text-align: right;
}