@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    min-width: 40%;
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: 'Open Sans';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

#postal{
    position: relative;
    width: 80%;
    margin-left: 50%;
    padding: 15px;
    transform: translate(-50%);
    background-color:   #FFFDD0;
}

#header{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;    
    text-align: center;
}

#postal-content{
    width: 100%;
}

#text p + p{
    margin-top: 20px;
}

img{
    float: left;
    max-width: 25px;
    max-height: 25px;
    border: 2px solid black;
    padding: 5px;
    position: relative;
}



#footer{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

#footer-left{
    position: relative;
    float: left;
    text-align: left;
    width: 50%;
    font-size: 20px;
}

#footer-right{
    position: relative;
    float: left;
    text-align: right;
    width: 50%;
    font-size: 20px;
}